<div class="jumbotron">
  <h1>Hacker Bootstrap</h1>
  <p>A Bootstrap theme for 31337 H4X0RS. Inspired by the classic green on black terminal style, this bootstrap theme will make your website 1337.</p>
  <p>To hack around with the source or contribute, check out the project on Github</p>
  {{data}}
  <p>
      <a class="btn btn-lg btn-primary" href="//github.com/brobin/hacker-bootstrap/" role="button">View on Github »</a>
      <a class="btn btn-primary" href="//github.com/brobin/hacker-bootstrap/" id="stars">Execute</a>
  </p>
</div>