<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Hacker Bootstrap Theme</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">

                </li>
                <li>
                    <a href="//reddit.com/r/itsaunixsystem" target="_blank">H4x0rs Only</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<div class="container">

    <h1>Terminal</h1>
    <!-- Jumbotron -->
    <div class="jumbotron">
        <p *ngFor="let log of logs">
            {{log}}
        </p>
    </div>

    <div class="row tall-row">
        <div class="col-md-12">
            <div class="well" style="overflow: auto;">
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" id="focusedInput" [(ngModel)]="newCommand.application" placeholder="Application Command" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <input class="form-control" id="focusedInput" [(ngModel)]="newCommand.arguments" placeholder="Arguments" type="text">
                    </div>
                </div>
                <div class="col-md-4">
                        <a class="btn btn-primary" role="button">Add Commands</a>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <p>
                <a class="btn btn-primary" id="stars">Execute</a>
            </p>
        </div>
    </div>
    <div class="row tall-row">
        <div class="col-md-12">
            <p>Nodeploy - by
                <a href="#">Noman Hasan</a>. &copy; 2017</p>
        </div>
    </div>

</div>